.image-uploader{
  display:flex;
  margin:auto;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  background:white;
}
.image-description{
  display: flex;
  align-items: center;
  gap: 20px;
}
.image-description h3{
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  line-height: 22px;
}
.info{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
}
.info input{
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 30px;
  align-self: stretch;
  background:#f8fcff;
 display:flex;
 gap:10px;
}
.info input::file-selector-button{
  font-size:16px;
  font-weight:500;
  line-height:22px;
  color:#10B981;
  padding: 10px 20px;
  background:none;
  border-radius:5px;
  border: 1px solid #10B981;
  margin-right:30px;
}
.info input{
  color:#3c3c3c;
  cursor: pointer;
}
.button-container{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  width:100%;
}
.button-container button{
  display: flex;
  padding: 10px 20px;
  background-color: #34d399;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight:300;
  line-height:22px;
}